<div class="flex items-center justify-between flex-col md:flex-row gap-6 md:gap-0 mb-4">
  <div class="flex flex-col sm:flex-row items-center gap-3">
    <!-- Search form -->
    <%= form_with(url: search_path, method: :post, data: { controller: "search", action: "keyup->search#suggestions", suggestions_url: search_suggestions_path, turbo: true }) do |form| %>
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
              </div>
              <%= form.text_field :query, autocomplete: :off, data: { search_target: 'input' }, placeholder: 'Search...', class: 'block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', id: "search-input" %>
              <div id="suggestions" data-search-target="suggestions" class="relative mt-2 bg-white border border-gray-300 rounded-lg shadow-md w-full absolute z-10 hidden"></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col sm:flex-row items-center gap-4">
    <div>
      <%= link_to "Search Analytics", recent_searches_by_user_path, class: "bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
    <div>
      <%= link_to "New Article", new_article_path, class: "bg-gray-700 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
</div>
